<h1>Edit Comment</h1>
<%= form_with url: update_sample_comment_path, model: @comment do |form| %>
  <div class="field">
    <%= form.rich_text_area :content, placeholder: 'enter a comment here...' %>
  </div>
  <div class="actions">
    <%= link_to 'back', show_sample_path(@sample.id) %>
    <%= form.submit 'update' %>
  </div>
<% end %>