<header>
  <%= image_tag 'logo-light.png', class: 'logo' %>
  <%= render 'shared/nav'%>
  <div class="sign-in-sign-up">
    <a href="" class="sign-in">sign in</a>
    <a href="" class="sign-up">sign up</a>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>