<header>
  <%= image_tag 'logo-light.png', class: 'logo' %>
  <%= render 'shared/nav'%>
  <%= render 'shared/login-register' %>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>