<div class="user-menu">
  <%= image_tag 'user-icon.svg', class: 'icon' %>
  <div class="dropdown">
    <a href="">profile</a>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  </div>
</div>