<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="flash alert">
      <%= message %>
      <button type="button">
        <%= image_tag 'close-alert.svg' %>
      </button>
    </div>
  <% end %>
<% end %>