<h1>About</h1>
<p>
  SampleSpace is a two-sided marketplace application, built with Ruby 
  on Rails, for users to buy and sell sound samples for use in music 
  production. 
</p>
<p>
  Many producers make their own samples. This may involve combining a 
  myriad of different sounds until they converge on something that fits 
  well in a composition. Others like to leverage the creativity of
  experienced sonic sculptors. Either way, musicians need to get their
  samples from somewhere, and making your own can be time consuming.
</p>
<p>
  SampleSpace is a platform that offers producers (whether novices
  or ninjas), the opportunity to share (and potentially profit from)
  samples that they have taken the time to craft. With a simple
  and sleek user interface, producers can sign up to participate
  in a vibrant community of like-minded people who are just looking
  for the right sound for the job.
</p>