<nav>
  <% @links.each do |link_info| %>
    <% if link_info[:url] == request.fullpath %>
      <a class="current"><%= link_info[:text] %></a>
    <% else %>
      <a href="<%= link_info[:url] %>" class="dark-hover"><%= link_info[:text] %></a>
    <% end %>
  <% end %>
</nav>