<h1>Creators</h1>
<div class="creators">
  <% @creators.each do |creator| %>
    <div class="card">
      <% if creator.avatar.present? %>
        <div class="avatar">
          <%= image_tag creator.avatar %>
        </div>
      <% else %>
        <div class="avatar">
          <%= image_tag 'user-icon.svg' %>
        </div>
      <% end %>
      <h3 class="username">@<%= creator.username %></h3>
      <%= link_to "view profile", creator_path(creator.username), class: 'creator-link' %>
    </div>
  <% end %>
</div>