<div class="tag-wrapper">
  <% if @tag %>
    <h1>#<%= @tag %></h1>
    <span class="count"><%= pluralize(@samples_info.length, 'sample') %></span>
  <% else %>
    <h1>¯\_(ツ)_/¯</h1>
  <% end %>
  <div class="content">
    <%= render 'shared/samples' %>
  </div>
</div>