/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Colors: */
:root {
  --header-bg: #374548;
  --header-fg: #dbe2e3;
  --dropdown-bg-hover: #b7c4c8;
  --footer-bg: #dbe2e3;
  --footer-fg: #374548;
  --devise-wrapper-bg: #374548;
  --devise-content-bg: #dbe2e3;
}

@font-face {
  font-family: 'Cousine';
  src: url('/Cousine-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Cousine';
}

a,
button {
  cursor: pointer;
}

.logo-link {
  display: flex;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

/* Main layout styles: */

header {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--header-bg);
}

header .logo {
  width: 80px;
  margin-right: 1em;
}

header nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 760px) {
  header nav {
    display: none;
  }

  header .logo,
  header .logo-link {
    margin-right: auto;
  }
}

header nav a {
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--header-fg);
  text-decoration: none;
  color: var(--header-fg);
  transition: background-color 0.4s ease, color 0.4s ease;
}

header nav a:hover {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

header nav a.current {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

header .search {
  height: 35px;
  padding: 0;
  margin: 0.5em;
}

header .search input {
  padding: 0 5px;
  height: 100%;
  border: 1px solid var(--header-fg);
  font-size: 1em;
  color: var(--header-bg);
}

header .login-register {
  display: flex;
}

@media screen and (max-width: 410px) {
  header .login-register {
    display: none;
  }
}

header .login,
header .register {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid var(--header-fg);
  text-decoration: none;
}

header .login {
  color: var(--header-fg);
  transition: background-color 0.4s ease, color 0.4s ease;
}

header .login:hover {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

header .register {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

header .user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35px;
  cursor: pointer;
}

header .user-menu .icon {
  height: 35px;
}

header .user-menu .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  box-shadow: 4px 4px 4px var(--header-bg);
  background-color: var(--header-fg);
}

header .user-menu .dropdown a {
  width: 100%;
  padding: 0.5em;
  text-decoration: none;
  color: var(--header-bg);
}

.user-menu .dropdown a:hover {
  background-color: var(--dropdown-bg-hover);
}

header .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  margin-left: 0.5em;
}

header .hamburger .line {
  width: 100%;
  height: 7px;
  background-color: var(--header-fg);
}

@media screen and (min-width: 760px) {
  header .hamburger {
    display: none;
  }
}

#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--header-bg);
}

@media screen and (min-width: 760px) {
  #menu {
    display: none;
  }
}

#menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu nav a {
  padding: 0.5em;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--header-fg);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#menu nav a:hover {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

#menu nav a.current {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

#menu .login-register {
  display: flex;
}

@media screen and (min-width: 410px) {
  #menu .login-register {
    display: none;
  }
}

#menu .login,
#menu .register {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid var(--header-fg);
  text-decoration: none;
}

#menu .login {
  color: var(--header-fg);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#menu .login:hover {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

#menu .register {
  background-color: var(--header-fg);
  color: var(--header-bg);
}

.alert {
  padding: 1em;
  border: 1px solid #C0392B;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: #FADBD8;
  color: #C0392B;
  text-align: center;
}

.notice {
  padding: 1em;
  border: 1px solid #16A085;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: #D5F5E3;
  color: #16A085;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--footer-bg);
}

footer .logo {
  width: 150px;
}

footer h1 {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: var(--footer-fg);
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

footer nav a {
  padding: 0.5em;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--footer-fg);
  transition: background-color 0.4s ease, color 0.4s ease;
}

footer nav a:hover {
  background-color: var(--footer-fg);
  color: var(--footer-bg);
}

footer nav a.current {
  background-color: var(--footer-fg);
  color: var(--footer-bg);
}

footer p {
  color: var(--footer-fg);
}

/* Devise layout styles: */

.devise-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100vh;
  background-color: var(--devise-wrapper-bg);
}

.devise-wrapper .logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devise-wrapper .logo {
  width: 150px;
}

.devise-wrapper .logo-wrapper h1 {
  color: var(--devise-content-bg);
}

.devise-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 250px;
  border-radius: 3px;
  background-color: var(--devise-content-bg);
}

.devise-content h2 {
  text-align: center;
  color: var(--devise-wrapper-bg);
}

.devise-content form {
  display: flex;
  flex-direction: column;
}

.devise-content input {
  width: 100%;
  height: 35px;
  margin-bottom: 1em;
  font-size: 1em;
  color: var(--devise-wrapper-bg);
}

.devise-content form .sign-in,
.devise-content form .sign-up {
  border: none;
  background-color: var(--devise-wrapper-bg);
  color: var(--devise-content-bg);
  cursor: pointer;
}

.devise-content p {
  text-align: center;
}

.devise-content > .sign-up,
.devise-content > .sign-in {
  padding: 0.5em 1em;
  width: 100px;
  margin: auto;
  background-color: var(--devise-wrapper-bg);
  text-decoration: none;
  color: var(--devise-content-bg);
}

.devise-content .forgot {
  margin: 1em 0;
  text-align: center;
}