/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Colors: */
:root {
  --dark: #374548;
  --light-secondary: #b7c4c8;
  --light: #dbe2e3;
}

@font-face {
  font-family: 'Cousine';
  src: url('/Cousine-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Cousine';
}

a,
button {
  cursor: pointer;
}

.logo-link {
  display: flex;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

/* Main layout styles: */

header {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--dark);
}

header .logo {
  width: 80px;
  margin-right: 1em;
}

header nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 760px) {
  header nav {
    display: none;
  }

  header .logo,
  header .logo-link {
    margin-right: auto;
  }
}

header nav a {
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--light);
  text-decoration: none;
  color: var(--light);
  transition: background-color 0.4s ease, color 0.4s ease;
}

header nav a:hover {
  background-color: var(--light);
  color: var(--dark);
}

header nav a.current {
  background-color: var(--light);
  color: var(--dark);
}

header .search {
  height: 35px;
  padding: 0;
  margin: 0.5em;
}

header .search input {
  padding: 0 5px;
  height: 100%;
  border: 1px solid var(--light);
  font-size: 1em;
  color: var(--dark);
}

header .login-register {
  display: flex;
}

@media screen and (max-width: 410px) {
  header .login-register {
    display: none;
  }
}

header .login,
header .register {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid var(--light);
  text-decoration: none;
}

header .login {
  color: var(--light);
  transition: background-color 0.4s ease, color 0.4s ease;
}

header .login:hover {
  background-color: var(--light);
  color: var(--dark);
}

header .register {
  background-color: var(--light);
  color: var(--dark);
}

header .user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35px;
  margin: 0 0.5em;
  cursor: pointer;
}

header .user-menu .icon {
  height: 35px;
}

header .user-menu .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: var(--light);
}

header .user-menu .dropdown a {
  width: 100%;
  padding: 0.5em;
  text-decoration: none;
  color: var(--dark);
}

.user-menu .dropdown a:hover {
  background-color: var(--light-secondary);
}

header .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  margin-left: 0.5em;
}

header .hamburger .line {
  width: 100%;
  height: 7px;
  background-color: var(--light);
}

@media screen and (min-width: 760px) {
  header .hamburger {
    display: none;
  }
}

#menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--dark);
}

@media screen and (min-width: 760px) {
  #menu {
    display: none;
  }
}

#menu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu nav a {
  padding: 0.5em;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--light);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#menu nav a:hover {
  background-color: var(--light);
  color: var(--dark);
}

#menu nav a.current {
  background-color: var(--light);
  color: var(--dark);
}

#menu .login-register {
  display: flex;
}

@media screen and (min-width: 410px) {
  #menu .login-register {
    display: none;
  }
}

#menu .login,
#menu .register {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid var(--light);
  text-decoration: none;
}

#menu .login {
  color: var(--light);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#menu .login:hover {
  background-color: var(--light);
  color: var(--dark);
}

#menu .register {
  background-color: var(--light);
  color: var(--dark);
}

main {
  flex-grow: 1;
  padding: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: var(--light);
}

footer .logo {
  width: 150px;
}

footer h1 {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: var(--dark);
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

footer nav a {
  padding: 0.5em;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--dark);
  transition: background-color 0.4s ease, color 0.4s ease;
}

footer nav a:hover {
  background-color: var(--dark);
  color: var(--light);
}

footer nav a.current {
  background-color: var(--dark);
  color: var(--light);
}

footer p {
  color: var(--dark);
}

