// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.welcome,
.recent-uploads,
.popular-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px !important;

  h2 {
    margin-bottom: 20px;
  }

  .text-and-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    p {
      text-align: center;
    }
  }

  .uploads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      padding: 0.5em 1em;
      margin: 0.5em;
      background-color: $dark;
      font-size: 1em;
      text-decoration: none;
      color: $light;
      box-shadow: 4px 4px 4px $light;
      cursor: pointer;
    }
  }
}