// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.profile {
  .info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;

    .avatar {
      width: 100px;
      height: 100px;
      margin-right: 1em;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .names {
      display: flex;
      flex-direction: column;
      margin-right: auto;

      * {
        padding: 0;
        margin: 0;
      }

      .full-name {
        margin: 10px 0;
        color: $dark;
      }

      .username {
        margin-bottom: 10px;
        text-align: left;
        color: $dark;
      }
    }

    .actions {
      display: flex;

      a {
        &.upload {
          margin-right: 0.5em;
        }
      }
    }
  }

  .dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid $dark;
    background-color: $light;

    nav {
      display: flex;
      background-color: $dark;

      a {
        &.current {
          background-color: $light;
          color: $dark;
        }
      }
    }

    .content {
      padding: 1em;

      .nothing-to-show {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          color: $dark;
        }
  
        a {
          margin-right: auto;
          margin-left: auto;
        }
      }

      .uploads,
      .downloads,
      .likes,
      .notifications {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .profile {
    .info {
      flex-direction: column;
      height: auto;

      .avatar {
        margin: 0 !important;
      }

      .names {
        margin: 0 !important;
     
        * {
          text-align: center !important;
        }
      }
    }

    .dashboard {
      nav {
        flex-direction: column;
        border-bottom: 1px solid $light;

        a {
          text-align: center;
        }
      }
    }
  }
}