// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 850px;
  margin: auto;

  .info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;

    * {
      color: $dark;
    }

    .avatar {
      width: 100%;
      max-width: 100px;
      height: 100%;
      max-height: 100px;
      margin-right: 1em;
      box-shadow: 4px 4px 4px $light;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .names {
      display: flex;
      flex-direction: column;
      margin-right: auto;

      * {
        padding: 0;
        margin: 0;
      }

      .full-name {
        margin: 10px 0;
      }

      .username {
        margin-bottom: 10px;
      }
    }

    .actions {
      display: flex;

      a {
        padding: 0.5em 1em;
        background-color: $dark;
        box-shadow: 4px 4px 4px $light;
        text-decoration: none;
        color: $light;
      
        &.upload {
          margin-right: 0.5em;
        }
      }
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px $light;
    background-color: $dark;

    nav {
      display: flex;
      background-color: $light;

      a {
        padding: 0.5em 1em;
        background-color: $light;
        text-decoration: none;
        color: $dark;
        transition: background-color 0.4s ease, color 0.4s ease;

        &.current {
          background-color: $dark;
          color: $light;
        }

        &:hover {
          background-color: $dark;
          color: $light;
        }
      }
    }

    .content {
      padding: 1em;

      * {
        color: $light;
      }

      .nothing-to-show {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
        }
  
        a {
          padding: 0.5em 1em;
          margin-right: auto;
          margin-left: auto;
          background-color: $light;
          text-decoration: none;
          color: $dark;
        }
      }

      .uploads-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .card {
          display: flex;
          flex-direction: column;
          padding: 1em;
          width: 100%;
          margin-bottom: 1em;
          background-color: $light;

          .name-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
              color: $dark;
            }

            .duration {
              margin-left: 1em;
              margin-right: auto;
              color: $dark;
            }

            .details {
              padding: 0.5em;
              border: 1px solid $dark;
              background-color: $light;
              color: $dark;
              transition: background-color 0.4s ease, color 0.4s ease;
            }

            .details:hover {
              background-color: $dark;
              color: $light;
            }
          }

          .preview {
            width: 100%;
          }

          .preview::-webkit-media-controls-panel {
            background-color: $light;
          }

          .preview::-webkit-media-controls-current-time-display,
          .preview::-webkit-media-controls-time-remaining-display {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .profile {
    .info {
      flex-direction: column;
      height: auto;

      .names {
        margin: 0 !important;
     
        * {
          text-align: center;
        }
      }
    }

    .dashboard {
      nav {
        flex-direction: column;
        border-bottom: 1px solid $light;
      }

      .uploads-wrapper {
        .card {
          .name-info {
            flex-direction: column;

            .duration {
              margin: 0 !important;
              margin-bottom: 1em !important;
            }
          }
        }
      }
    }
  }
}