// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.samples-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;

  h1 {
    color: $dark;
  }

  form {
    padding: 1em;
    background-color: $dark;

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      &.checkbox {
        flex-direction: row;
        align-items: center;

        input[type=checkbox] {
          width: 20px;
          height: 20px;
          margin: 0;
          margin-left: 1em;
        }
      }

      label {
        color: $light;
      }

      input {
        height: 35px;

        &[type=file] {
          padding: 0;
          border: 1px solid $light;
          background-color: #fff;
          border-radius: 2px;
        }

        &::file-selector-button {
          padding: 0.5em 1em;
          height: 35px;
          border: none;
          background-color: $light;
          font-size: 1em;
          text-decoration: none;
          color: $dark;
          cursor: pointer;
        }
      }

      textarea {
        min-height: 70px;
        min-width: 100%;
        max-width: 100%;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;

      input {
        padding: 0.5em 1em;
        border: none;
        background-color: $light;
        font-size: 1em;
        color: $dark;
        cursor: pointer;
      }
    }
  }

  .creator {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    h3 {
      color: $dark;
    }
  }

  .name-actions {
    display: flex;
    align-items: center;

    h1 {
      margin-right: auto;
    }

    a {
      padding: 0.5em 1em;
      background-color: $dark;
      text-decoration: none;
      color: $light;
      box-shadow: 4px 4px 4px $light;

      &.download {
        margin-right: 0.5em;
      }
    }
  }

  .preview {
    width: 100%;
    margin-bottom: 1em;
  }

  .preview::-webkit-media-controls-panel {
    background-color: $light;
  }

  .preview::-webkit-media-controls-current-time-display,
  .preview::-webkit-media-controls-time-remaining-display {
    display: none;
  }

  .description,
  .properties {
    padding: 1em;
    margin-bottom: 1em;
    background-color: $dark;
    box-shadow: 4px 4px 4px $light;

    * {
      color: $light;
    }

    h2 {
      margin: 0;
      border-bottom: 1px solid $light;
    }
  }

  .property {
    display: flex;
    margin: 0.5em 0;

    .name {
      padding: 0.5em 1em;
      width: 140px;
      min-height: 35px;
      background-color: $light;
      text-align: center;
      color: $dark;
    }

    .value {
      flex-grow: 1;
      padding: 0.5em 1em;
      min-height: 35px;
      background-color: white;
      color: $dark;
    }
  }

  .danger-zone {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #FADBD8;
    box-shadow: 4px 4px 4px $light;

    h2 {
      margin: 0;
      border-bottom: 1px solid #C0392B;
      color: #C0392B;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1em;

      a {
        padding: 0.5em 1em;
        background-color: #C0392B;
        text-decoration: none;
        color: #FADBD8;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .samples-wrapper {
    .name-actions {
      flex-direction: column;

      h1 {
        margin: 0 !important;
      }

      a {
        margin: 10px;
      }
    }
  }
}