<div class="downloads-wrapper">
  <% if @samples_info.length == 0 %>
    <div class="nothing-to-show">
      <p>Nothing to show yet...</p>
      <%= link_to 'browse samples', browse_path, class: 'dark' %>
    </div>
  <% else %>
    <%= render 'shared/samples' %>
  <% end %>
</div>