<% if @samples_info.length == 0 %>
  <div class="nothing-to-show">
    <p>Nothing to show yet...</p>
    <%= link_to 'upload samples', upload_path , class: 'dark' %>
  </div>
<% else %>
  <div class="uploads-wrapper">
    <%= render 'shared/samples' %>
  </div>
<% end %>

