<% if @samples.length == 0 %>
  <div class="no-samples">
    <p>Nothing to show yet...</p>
    <%= link_to 'upload samples', upload_path %>
  </div>
<% else %>
  <% @samples.each do |sample| %>
    <%= link_to sample.name, sample.audio_file %>
  <% end %>
<% end %>